.btn-secondary.disabled, .btn-secondary:disabled{
  color:$platinum;
  background-color:$raisinblack ;
  border-radius: 25px;

}
.btn-primary.disabled, .btn-primary:disabled{
  border-radius: 25px;
  color:$platinum;
  background-color:$raisinblack ;
}

.justify-content-center{
  background-color: $platinum;
  padding-top: 50px;
}


.paginador{
  background-color: $platinum;
  height: 150px;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}