$white:#fff;
$platinum:#E6E7E7;
$lightgray:#D1D1D1;
$fuzzyguzzy:#E56353;
$ruddypink:#D76C69;
$spanishpink:#ECBCBA;
$eerieblack:#121619;
$raisinblack:#222323;
$nickel:#6C6E70;

//font family
$roboto:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;

// Font Weight
$regular:400;
$light:300;
$blackitalic:900;

//font size
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;
